<%= form_with(model: block, url: blocks_path, local: false, class: "block-form") do |form| %>
  <%= render "shared/error_messages", instead: block %>

  <%= hidden_field_tag :page_aid, (local_assigns[:page_aid] || params[:page_aid]) %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 6 %>
  </div>

  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.submit "送信" %>
  </div>
<% end %>
